.ewtEtTranslatorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .ewtEtTranslatorContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 5px;
        background-color: #515962;
        font-size: 15px;
        cursor: pointer;
        margin-right: .3rem;

        .ewtEtTranslatorIcon {
            fill: #f0abfc;
        }
    }
}